<% include ../partials/header %>

<div class='container'>
    <header class="lessJumboTron">
        <div class="row">
            
            <div class="formDiv">
                <form>
                    <h3 class="labelAlign">Add Comment:</h3>
                    <p class="labelAlign"><%= campground.name%></p>
                    <hr>
                </form>
                <form action="/campgrounds/<%= campground._id%>/comments" method="POST">
                    <div class="form-group">
                        <label for="comment[text]"  class="labelAlign">Comment text:</label>
                        <input class="form-control" type="text" name="comment[text]" placeholder="text">
                    </div>
                    <div class="form-group">
                        <input class="btn btn-primary btn-lg btn-default btn-block" type=submit>
                    </div>
                </form>
                <a href='/campgrounds'>Go Back</a>
            </div>
        </div>
    </header>
</div>
    
<% include ../partials/footer %>