<% include ./partials/header %>


<header class="lessJumboTron">
        <div >
            <div class="row">
                <h1 class="alignTextCenter">Sign Up!</h1>
                <div class="formDiv">
                    <form action="/register" method="POST">
                        
                        <div class="form-group">
                            <label for="username" class="labelAlign">Username:</label>
                            <input class="form-control" type="text" name="username" placeholder="username" required>
                        </div>
                        <div class="form-group">
                            <label for="password" class="labelAlign">Password:</label>
                            <input class="form-control" type="password" name="password" placeholder="password" required>
                        </div>
                        <div class="form-group">
                            <label for="email" class="labelAlign">Email:</label>
                            <input class="form-control" type="email" name="email" placeholder="email" required>
                        </div>
                        <div class="form-group">
                            <label for="avatar" class="labelAlign">Avatar Url:</label>
                            <input class="form-control" type="text" name="avatar" placeholder="avatar">
                        </div>
                        <div class="form-group">
                            <label for="firstName" class="labelAlign">First Name:</label>
                            <input class="form-control" type="text" name="firstName" placeholder="first name">
                        </div>
                        <div class="form-group">
                            <label for="lastName" class="labelAlign">Last Name:</label>
                            <input class="form-control" type="text" name="lastName" placeholder="last name">
                        </div>
                        <!--<div class="form-group">-->
                        <!--    <label for="isAdmin" class="labelAlign">isAdmin:</label>-->
                        <!--    <input class="form-control" type="radio" name="isAdmin" value=true>-->
                        <!--</div>-->
                        <div class="form-group">
                            <input class="btn btn-lg btn-primary btn-block" type="submit" value="Login">
                        </div>
                    </form>
                    <a href='/campgrounds'>Go Back</a>
                </div>
            </div>
        </div>
</header>

<!--<h1>Sign Up!</h1>-->

<!--<form action="/register" method="POST">-->
<!--    <input type="text" name="username" placeholder="username">-->
<!--    <input type="password" name="password" placeholder="password">-->
<!--    <input type="submit">-->
<!--</form>-->

<% include ./partials/footer %>