<% include ../partials/header %>

<div>

    <header class="jumbotron" >
        <div class='container mb-5'>
            <h2>Welcome to campgrounds!</h2>
            <p>View glorious campgrounds representing the great outdoors!</p>
            
            <p>
                <a class='btn btn-primary btn-lg ' href="/campgrounds/new">Add Campground</a>
            </p>
        </div>
        <hr class="mb-5">
        
        
        <div class="row text-center" id="campground-grid">
            <%  campgrounds.forEach(function(campground){ %>
                <div class="col-lg-3 col-md-4 col-sm-6 mb-3">
                    <div class="card shadow">
                      <img class="card-img-top cstm-img-rounded" src="<%= campground.image%>" alt="<%= campground.name%>">
                      
                      <div class="card-body">
                        <p class="card-title"><%= campground.name%></p>
                        <a href="/campgrounds/<%= campground._id%>" class="btn btn-primary btn-sm">More Info</a>
                      </div>
                      
                    </div>
                </div>
            <% }); %>
        </div>
        
        
    </header>
    
</div> 

<% include ../partials/footer%>