body{
    background-color:#ddd;
}

.thumbnail img {
    width: 100%;
}

.thumbnail{
    padding: 0;
}

.bottomSpacing{
    margin: 0 0 10px 0;
}

.rightSpacing{
    margin: 0 4px 0 0;
}

.cstm-img-rounded{
    border-radius: 4px;
}

.inline-elem{
    display: inline;
}

.margin-bot{
    margin-bottom: 15px;
}

.formDiv{
    width: 80%;
    margin: 25px auto;
}

.labelAlign{
    text-align: left;
    width: 97%;
}

.alignTextCenter{
    text-align: center;
}

.lessJumboTron{
    background-color: #eee;
    text-align: center;
    border-radius: 15px;
    margin: 0 auto;
}

.lessContainer{
    background-color: #ccc;
    margin: 5px;
    border-radius: 15px;
    padding: 5px 50px 0 30px;
}

#map{
    width: 100%;
    height: 200px;
    border-radius: 7px;
    margin: 0 0 20px 0;
}

.userAvatar{
    width: 150px;
    height:150px;
    margin: 10px 0 20px 0;
    border-radius: 10px;
}

.userImage{
    width: 400px;
    height:400px;
    border-radius: 10px;
}

.userParagraph{
    margin: 35px 10px 10px 10px;
}


@media (min-width: 990px) {

    .lessJumboTron{
    width: 640px;
    }
    
    .formDiv{
    width: 55%;
    }

}  

@media (min-width: 500px) {
    
    .formDiv{
    width: 45%;
    }

}  