<% include ../partials/header %>

<div class='container'>
    <header class="lessJumboTron">
        <div class="row">
            <div class="formDiv">
                <form>
                    <h4 class="labelAlign ">New password:</h4>
                    <hr>
                </form>
                <form action="/user/reset/<%=token%>" method="POST">
                    <div class="form-group">
                        <label for="password"  class="labelAlign">Password:</label>
                        <input class="form-control" type="password" name="password" placeholder="password" autofocus required>
                    </div>
                    <div class="form-group mb-4">
                        <label for="confirm"  class="labelAlign">Confirm password:</label>
                        <input class="form-control" type="password" name="confirm" placeholder="confirm password" required>
                    </div>
                    <div class="form-group">
                        <input class="btn btn-primary btn-lg btn-default btn-block" type=submit>
                    </div>
                </form>
                <a href='/campgrounds'>Go Back</a>
            </div>
        </div>
    </header>
</div>
    
<% include ../partials/footer %>